a{
	text-decoration: none;
	color: white;
}
.body {
	color: white;
	border: 2px solid white;
	background-color: none;
}
.ss1 {
	background-color: none;
	color: white
}
.ss2 {
	background-color: none;
	color: white
}
.ss3 {
	background-color: none;
	color: white
}
.ss4 {
	background-color: none;
	color: white
}
.ss5 {
	background-color: none;
	color: white
}
.ss6 {
	background-color: none;
	color: white
}
.ss7 {
	background-color: none;
	color: white
}
.ss8 {
	background-color: none;
	color: white
}
.tbl {
	color: white;
	height: 500px;
	width: 70%;
}
.tbl2 {
	color: white;
	height: 200px;
	width: 70%;
}
